---
layout: default
title: Projects
permalink: /pro/
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'projects' %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">

          {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}

        </div>

        {% if post.content contains '<!--more-->' %}  
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        {% endif %}

      </article>
    {% endif %}
  {% endfor %}
</div>
